<main class="__main">

  <section class="__input">
    <mat-form-field class="__input_field" appearance="fill">

      <mat-label>S-expressions go here</mat-label>

      <textarea
        class="__input_textarea"
        matInput
        [formControl]="sexpInput"
        [errorStateMatcher]="fieldMatcher"
      ></textarea>

      <mat-error>{{ error$ | async }}</mat-error>

    </mat-form-field>
  </section>

  <section class="__output">
    <ng-container *ngIf="dataSource$ | async as source">
      <mat-tree
        *ngIf="!(parsedWithError$ | async)"
        [dataSource]="source"
        [treeControl]="treeControl"
        class="__tree"
      >

        <!-- Leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          {{ node | nodeName }}
        </mat-tree-node>

        <!-- Inner nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <div class="__tree_node">

            <button
              mat-icon-button
              matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node[0]"
            >
              <mat-icon>
                {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
              </mat-icon>
            </button>

            {{ node | nodeName }}

          </div>

          <div
            [class.__tree--invisible]="!treeControl.isExpanded(node)"
            role="group"
          >
            <ng-container matTreeNodeOutlet></ng-container>
          </div>

        </mat-nested-tree-node>

      </mat-tree>
    </ng-container>
  </section>

</main>
